* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

body {
    background: linear-gradient(135deg, #d4fc79, #96e6a1);
    min-height: 100vh;
}

header {
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    color: white;
    padding: 25px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

main {
    padding: 60px 20px;
    text-align: center;
}

.formularz {
    background: white;
    padding: 30px;
    width: 400px;
    margin: 20px auto;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.formularz:hover {
    box-shadow: 0 25px 60px rgb(0, 0, 0);
}

button {
    background: #22c55e;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #157438;
}

footer {
    background: rgba(0,0,0,0.3);
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.tabela-wiadomosci {
    background: white;
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
    overflow: hidden;
    transition: 0.3s;
}

.tabela-wiadomosci:hover {
    box-shadow: 0 25px 60px rgb(0, 0, 0);
}

.tabela-wiadomosci table {
    width: 100%;
    border-collapse: collapse;
}

.tabela-wiadomosci th {
    background: #22c55e;
    color: white;
    padding: 15px;
    text-align: left;
}

.tabela-wiadomosci td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.tabela-wiadomosci tr:hover {
    background: #f3f4f6;
}

.tabela-wiadomosci h2 {
    padding: 20px;
}